*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

}

.App {
    /* background: linear-gradient(to left, #f2fcfe, #1c92d2); */
    /* background: yellow; */
    min-height: 100vh;
}
/* HEADER */
/* HEADER */
/* HEADER */

header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.header-logo {
    padding: 10px;
    display: flex;
}

.header-logo a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    justify-content: center;
    display: block;
}

/* LocationInput */
/* LocationInput */
/* LocationInput */

.container {
    width: 800px;
    /* margin: 0 auto; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.loc-container {

}

.getweather {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.locinput {
    max-width: 200px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    /* margin: 0 auto; */
    display: flex;
}

.btn {
    max-width: 150px;
    background-color: #5ed806;
    padding: 10px;
    border-radius: 5px;
    color: white;
    /* margin: 0 auto; */
}

/* Forecast */
/* Forecast */
/* Forecast */

.day-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.day-item {
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.day-pic {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.day-title {
    display: flex;
    font-size: 28px;
    font-weight: 300;
}
